:root {
    --bg: hsla(280, 82%, 98%, 1);
    --text: hsla(278, 88%, 20%, 1);
    --texthigh: hsla(278, 88%, 20%, 1);
    --body: hsla(278, 68%, 56%, 1);
    --master: hsla(278, 14%, 4%, 1);
    --Icon: hsla(280, 82%, 98%, 1);


}