.outer--wrapper {
    padding: 3em 1em;
    height: 100%;
}

.balance--wrapper,
.Fitness--wrapper,
.social--wrapper {
    .image--wrapper {
        margin: 0 0 3em 0;
    }

    .bottom--wrapper {
        h1 {


            span {
                font-weight: 400;
                font-size: 1.5rem;
                display: block;
                color: var(--text);
            }

            font-size: 2.25rem;
            font-weight: 700;
            max-width: 175px;
            text-transform: uppercase;
            margin: 0 0 24px 0;
            color: var(--texthigh);
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: var(--body);
            max-width: 262px;
        }
    }
}

.mater--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 3em 0;

    #master {
        font-weight: 500;
    }

    p {
        color: var(--master);
    }


}

#Vector {
    stroke: var(--Icon);
}