@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
:root {
  --bg: hsla(280, 82%, 98%, 1);
  --text: hsla(278, 88%, 20%, 1);
  --texthigh: hsla(278, 88%, 20%, 1);
  --body: hsla(278, 68%, 56%, 1);
  --master: hsla(278, 14%, 4%, 1);
  --Icon: hsla(280, 82%, 98%, 1);
}

html {
  scroll-behavior: none;
  -ms-touch-action: none;
      touch-action: none;
  text-rendering: optimizeSpeed;
  min-width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg);
  font-family: 'Inter', sans-serif;
  line-height: 1.75;
  position: relative;
  max-width: 480px;
  overflow-y: hidden;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

#root,
html,
body {
  height: 100%;
}

#fluid {
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  z-index: 10000;
  -ms-touch-action: auto;
      touch-action: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
      touch-action: none;
}

.outer--wrapper {
  padding: 3em 1em;
  height: 100%;
}

.balance--wrapper .image--wrapper,
.Fitness--wrapper .image--wrapper,
.social--wrapper .image--wrapper {
  margin: 0 0 3em 0;
}

.balance--wrapper .bottom--wrapper h1,
.Fitness--wrapper .bottom--wrapper h1,
.social--wrapper .bottom--wrapper h1 {
  font-size: 2.25rem;
  font-weight: 700;
  max-width: 175px;
  text-transform: uppercase;
  margin: 0 0 24px 0;
  color: var(--texthigh);
}

.balance--wrapper .bottom--wrapper h1 span,
.Fitness--wrapper .bottom--wrapper h1 span,
.social--wrapper .bottom--wrapper h1 span {
  font-weight: 400;
  font-size: 1.5rem;
  display: block;
  color: var(--text);
}

.balance--wrapper .bottom--wrapper p,
.Fitness--wrapper .bottom--wrapper p,
.social--wrapper .bottom--wrapper p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--body);
  max-width: 262px;
}

.mater--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 3em 0;
}

.mater--wrapper #master {
  font-weight: 500;
}

.mater--wrapper p {
  color: var(--master);
}

#Vector {
  stroke: var(--Icon);
}

.fitness {
  --bg: hsla(286, 85%, 23%, 1);
  --text: hsla(286, 16%, 99%, 1);
  --body: hsla(0, 0%, 100%, 1);
  --master: hsla(286, 16%, 99%, 1);
  --texthigh: hsla(10, 100%, 58%, 1);
  --Icon: hsla(280, 82%, 98%, 1);
}

.social {
  --bg: hsla(32, 100%, 50%, 1);
  --text: hsla(278, 88%, 20%, 1);
  --body: hsla(0, 0%, 0%, 1);
  --master: hsla(0, 0%, 0%, 1);
  --texthigh: hsla(278, 88%, 20%, 1);
  --Icon: hsla(0, 0%, 0%, 1);
}
/*# sourceMappingURL=Styles.css.map */